venv/
.py310/
__pycache__/
*.pyc
nohup.out
*.stdf
*.zip
SmarTest/
oneAPI_py3.10/
data_blank/
data/*
!data/.gitkeep
data_gemini/*
!data_gemini/.gitkeep
scene2/report/
scene2/report_demo/
scene2/report_blank/
scene2/web/wafer_map_demo.html
